/*body,html
------------------------------------*/

html {
    font-family: 'times new roman';
} 
body {
    margin: 0;
}

/*main stuff
------------------------------------*/
.container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-content: center;
}

.portrait {
    display: flex;
    justify-content: center;
}

img {
    width: 500px;
    height: 100%;
    border: solid 3px black;
}
 
.small {
    display: none;
}

/*bio
------------------------------------*/
#bio {
    font-family: 'times new roman';
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 30px;
    color: black;
}

/* Navigation
------------------------------------*/
nav {
  overflow: hidden;
  margin-left: 10vw;
  margin-right: 10vw;
  border-bottom: solid 3px black;
  height: 60px;
  position: fixed;
  top: 0;
  width: calc(100vw - 20vw);
  background-color: white;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  text-decoration: none;
  font-family: 'times new roman';
  font-size: 2em;
}

nav a.active {
    color: grey;
}

/*
nav a.rainbow-text {
    
    background-image: linear-gradient(to left, turquoise, deeppink);   -webkit-background-clip: text;
    color: transparent; 
}
*/


/*Icons
-----------------------------------*/
.icons {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    align-items: center;
}

a>i {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.classical, .pop, .fa-linkedin, fa-linkedin-in, .fa-envelope, .fa-github, .fa-github-square, .fa-apple {
    font-size: 1.6em;
}



/*Icon Tooltips
-----------------------------------*/
.tt {
  position: relative;
  display: inline-block;
}

.ttt {
    font-size: .6em;
    font-weight: normal;
    font-family: 'times new roman';
}

.tt .ttt {
  visibility: hidden;
    background-color: grey;
  white-space: nowrap;
  color: white;
  text-align: center;
  padding: 2px 4px;
  margin-bottom: 8px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
}

.ct {
    margin-left: -110%;
}

.et {
    margin-left: -145%;
}

.lt {
    margin-left: -200%;
}

.gt {
    margin-left: -245%;
}

.pt {
    margin-left: -190%;
}

/*Icon Media Queries
-----------------------------------*/
@media only screen and (max-width : 1000px) {
    .icons {
        margin-top: 38px;
    }
}

    .pt {
        margin-left: -250%;
    }

}


/* Media Queries! ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Special ----------- */
@media only screen and (max-width : 1120px) {
    .container {
    margin-left: 15vw;
    margin-right: 15vw;
}

img {
    width: 450px;
}

}

/* Big ----------- */
@media only screen and (max-width : 1000px) {

    nav {
        height: 50px;
    }
    nav a {
        font-size: 1.8em;   
    }
    .container {
        margin-top: 80px;
    }   
}

/* Medium ----------- */
@media only screen and (max-width : 800px) {

    nav a {
        font-size: 1.6em;
    }
    
    nav {
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100vw - 40px);
        border-bottom: solid black 2.5px;
    }
    
    .container {
    margin-left: 10vw;
    margin-right: 10vw;
}
    
}

/* Small ----------- */
@media only screen and (max-width : 600px) {

    nav {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100vw - 30px);
        border-bottom: black solid 2px;
        max-height: 35px;
    }
    
    nav a {
        font-size: 1.2em;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }
    
    
    .container {
        margin-top: 50px;
}
    img {
        width: calc(80vw - 6px);
}
    
    

}

/* Smaller ------
----- */
@media only screen and (max-width : 500px) {
    img {
    width: calc(90vw - 6px);
}
    .container {
    margin-left: calc(5vw - 3px);
    margin-right: calc(5vw - 3px);
}
    
/*
    .small {
        display: block;
    }
    
    .big {
        display: none;
    }
*/
    
    #bio {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

/* Smaller ------
----- */
@media only screen and (max-width : 465px) {

    nav {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100vw - 20px);
        border-bottom: black solid 2px;
        max-height: 25px;
        
    }
    
    nav a {
        font-size: .8em;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }
    
    
    #bio {
        font-size: 1.2em;
    }
    
    .container {
        margin-top: 40px;
}


}


/* Hovering ------
----- */
@media(hover: hover) and (pointer: fine) {
    nav>a:hover {
        color: grey;
  cursor: pointer;
}

i.classical:hover, .fa-apple:hover, i.fa-linkedin:hover, i.pop:hover, i.fa-github:hover, i.fa-github-square:hover, i.fa-envelope:hover {
    color: grey;
}
    
.tt:hover .ttt {
  visibility: visible;
}
  
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {


}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    

}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    

}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}